
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.xml
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.pdb
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/src/DynamicServices.Mvc/bin/Debug/PagedList.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.csproj.FileListAbsolute.txt
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/obj/Debug/ResolveAssemblyReference.cache
/src/DynamicServices/bin/Debug/Castle.Core.dll
/src/DynamicServices/bin/Debug/Castle.Core.xml
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices/bin/Debug/Castle.Windsor.dll
/src/DynamicServices/bin/Debug/Castle.Windsor.xml
/src/DynamicServices/bin/Debug/DynamicServices.dll
/src/DynamicServices/bin/Debug/DynamicServices.pdb
/src/DynamicServices/bin/Debug/PagedList.dll
/src/DynamicServices/obj/Debug/DynamicServices.csproj.FileListAbsolute.txt
/src/DynamicServices/obj/Debug/DynamicServices.dll
/src/DynamicServices/obj/Debug/DynamicServices.pdb
/src/DynamicServices/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.xml
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.csproj.FileListAbsolute.txt
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter/bin/Debug/JoinedFilter.dll
/src/JoinedFilter/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter/obj/Debug/JoinedFilter.csproj.FileListAbsolute.txt
/src/JoinedFilter/obj/Debug/JoinedFilter.dll
/src/JoinedFilter/obj/Debug/JoinedFilter.pdb
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.xml
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.pdb
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/src/DynamicServices.Mvc/bin/Debug/PagedList.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.csproj.FileListAbsolute.txt
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/obj/Debug/ResolveAssemblyReference.cache
/src/DynamicServices/bin/Debug/Castle.Core.dll
/src/DynamicServices/bin/Debug/Castle.Core.xml
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices/bin/Debug/Castle.Windsor.dll
/src/DynamicServices/bin/Debug/Castle.Windsor.xml
/src/DynamicServices/bin/Debug/DynamicServices.dll
/src/DynamicServices/bin/Debug/DynamicServices.pdb
/src/DynamicServices/bin/Debug/PagedList.dll
/src/DynamicServices/obj/Debug/DynamicServices.csproj.FileListAbsolute.txt
/src/DynamicServices/obj/Debug/DynamicServices.dll
/src/DynamicServices/obj/Debug/DynamicServices.pdb
/src/DynamicServices/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.xml
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.csproj.FileListAbsolute.txt
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter/bin/Debug/JoinedFilter.dll
/src/JoinedFilter/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter/obj/Debug/JoinedFilter.csproj.FileListAbsolute.txt
/src/JoinedFilter/obj/Debug/JoinedFilter.dll
/src/JoinedFilter/obj/Debug/JoinedFilter.pdb
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Core.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.dll
/src/DynamicServices.Mvc/bin/Debug/Castle.Windsor.xml
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.dll
/src/DynamicServices.Mvc/bin/Debug/DynamicServices.pdb
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/src/DynamicServices.Mvc/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/src/DynamicServices.Mvc/bin/Debug/PagedList.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.csproj.FileListAbsolute.txt
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.dll
/src/DynamicServices.Mvc/obj/Debug/DynamicServices.Mvc.pdb
/src/DynamicServices.Mvc/obj/Debug/ResolveAssemblyReference.cache
/src/DynamicServices/bin/Debug/Castle.Core.dll
/src/DynamicServices/bin/Debug/Castle.Core.xml
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.dll
/src/DynamicServices/bin/Debug/Castle.DynamicProxy2.xml
/src/DynamicServices/bin/Debug/Castle.MicroKernel.dll
/src/DynamicServices/bin/Debug/Castle.MicroKernel.xml
/src/DynamicServices/bin/Debug/Castle.Windsor.dll
/src/DynamicServices/bin/Debug/Castle.Windsor.xml
/src/DynamicServices/bin/Debug/DynamicServices.dll
/src/DynamicServices/bin/Debug/DynamicServices.pdb
/src/DynamicServices/bin/Debug/PagedList.dll
/src/DynamicServices/obj/Debug/DynamicServices.csproj.FileListAbsolute.txt
/src/DynamicServices/obj/Debug/DynamicServices.dll
/src/DynamicServices/obj/Debug/DynamicServices.pdb
/src/DynamicServices/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Core.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.DynamicProxy2.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.MicroKernel.xml
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/Castle.Windsor.xml
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.dll
/src/JoinedFilter.Windsor/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.csproj.FileListAbsolute.txt
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.dll
/src/JoinedFilter.Windsor/obj/Debug/JoinedFilter.Windsor.pdb
/src/JoinedFilter.Windsor/obj/Debug/ResolveAssemblyReference.cache
/src/JoinedFilter/bin/Debug/JoinedFilter.dll
/src/JoinedFilter/bin/Debug/JoinedFilter.pdb
/src/JoinedFilter/obj/Debug/JoinedFilter.csproj.FileListAbsolute.txt
/src/JoinedFilter/obj/Debug/JoinedFilter.dll
/src/JoinedFilter/obj/Debug/JoinedFilter.pdb
/src/Tests/bin/Debug/AutoMapper.dll
/src/Tests/bin/Debug/Castle.Core.dll
/src/Tests/bin/Debug/Castle.Core.xml
/src/Tests/bin/Debug/Castle.DynamicProxy2.dll
/src/Tests/bin/Debug/Castle.DynamicProxy2.xml
/src/Tests/bin/Debug/Castle.MicroKernel.dll
/src/Tests/bin/Debug/Castle.MicroKernel.xml
/src/Tests/bin/Debug/Castle.Windsor.dll
/src/Tests/bin/Debug/Castle.Windsor.xml
/src/Tests/bin/Debug/DynamicServices.dll
/src/Tests/bin/Debug/DynamicServices.pdb
/src/Tests/bin/Debug/PagedList.dll
/src/Tests/bin/Debug/ReflectedAutoMap.dll
/src/Tests/bin/Debug/ReflectedAutoMap.pdb
/src/Tests/bin/Debug/Rhino.Mocks.dll
/src/Tests/bin/Debug/Tests.dll
/src/Tests/bin/Debug/Tests.pdb
/src/Tests/bin/Debug/nunit.framework.dll
/src/Tests/obj/Debug/ResolveAssemblyReference.cache
/src/Tests/obj/Debug/Tests.csproj.FileListAbsolute.txt
/src/Tests/obj/Debug/Tests.dll
/src/Tests/obj/Debug/Tests.pdb
/src/ReflectedAutoMap/bin/Debug/AutoMapper.dll
/src/ReflectedAutoMap/bin/Debug/ReflectedAutoMap.dll
/src/ReflectedAutoMap/bin/Debug/ReflectedAutoMap.pdb
/src/ReflectedAutoMap/obj/Debug/ReflectedAutoMap.csproj.FileListAbsolute.txt
/src/ReflectedAutoMap/obj/Debug/ReflectedAutoMap.dll
/src/ReflectedAutoMap/obj/Debug/ReflectedAutoMap.pdb
/src/ReflectedAutoMap/obj/Debug/ResolveAssemblyReference.cache
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/AutoMapper.dll
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/JoinedFilter.dll
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/JoinedFilter.pdb
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/ReflectedAutoMap.JoinedFilter.dll
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/ReflectedAutoMap.JoinedFilter.pdb
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/ReflectedAutoMap.dll
/src/ReflectedAutoMap.JoinedFilter/bin/Debug/ReflectedAutoMap.pdb
/src/ReflectedAutoMap.JoinedFilter/obj/Debug/ReflectedAutoMap.JoinedFilter.csproj.FileListAbsolute.txt
/src/ReflectedAutoMap.JoinedFilter/obj/Debug/ReflectedAutoMap.JoinedFilter.dll
/src/ReflectedAutoMap.JoinedFilter/obj/Debug/ReflectedAutoMap.JoinedFilter.pdb
/src/ReflectedAutoMap.JoinedFilter/obj/Debug/ResolveAssemblyReference.cache
/src/_ReSharper.DynamicServices/CachesImage.bin
/src/_ReSharper.DynamicServices/ProjectModel/ProjectModel.dat
/src/_ReSharper.DynamicServices/TodoCache/.version
/src/_ReSharper.DynamicServices/TodoCache/2/593ddf70.dat
/src/_ReSharper.DynamicServices/WebsiteFileReferences/.version
/src/_ReSharper.DynamicServices/WordIndex.New/.version
/src/_ReSharper.DynamicServices/WordIndex.New/9/52033c.dat
/src/Mvc/bin/Castle.Core.dll
/src/Mvc/bin/Castle.Core.xml
/src/Mvc/bin/Castle.DynamicProxy2.dll
/src/Mvc/bin/Castle.DynamicProxy2.xml
/src/Mvc/bin/Castle.MicroKernel.dll
/src/Mvc/bin/Castle.MicroKernel.xml
/src/Mvc/bin/Castle.Windsor.dll
/src/Mvc/bin/Castle.Windsor.xml
/src/Mvc/bin/DynamicServices.Mvc.dll
/src/Mvc/bin/DynamicServices.Mvc.pdb
/src/Mvc/bin/DynamicServices.dll
/src/Mvc/bin/DynamicServices.pdb
/src/Mvc/bin/Microsoft.Practices.ServiceLocation.dll
/src/Mvc/bin/Microsoft.Practices.ServiceLocation.xml
/src/Mvc/bin/Mvc.dll
/src/Mvc/bin/Mvc.pdb
/src/Mvc/bin/PagedList.dll
/src/Mvc/bin/Spark.Web.Mvc.dll
/src/Mvc/bin/Spark.dll
/src/Mvc/obj/Debug/Mvc.csproj.FileListAbsolute.txt
/src/Mvc/obj/Debug/Mvc.dll
/src/Mvc/obj/Debug/Mvc.pdb
/src/Mvc/obj/Debug/ResolveAssemblyReference.cache